@charset "UTF-8";
/**
 * @author: zhanghuan
 * @create: 2017/9/20
 * @describe: 个人详情
 */
@import "../common";
.self-detail{
  overflow-x: hidden;
  background-color: #fff;

  @import "../header";

  .video-cnt{
    display: flex;
    align-items: center;
    justify-content: center;
    @include px2rem(height, 420px);

    video{
      height: 100%;
    }
  }

  .user-info{
    @include px2rem(padding-left, 24px);
    @include px2rem(padding-right, 24px);

    .info{
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include px2rem(padding-top, 12px);
      @include px2rem(padding-bottom, 12px);
      border-bottom: 1px solid $grayThree;

      div{
        @include px2rem(width, 90px);
        @include px2rem(height, 90px);
        border-radius: 50%;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
        }
      }

      h2{
        flex: 2;
        @include px2rem(padding-left, 20px);
        font-size: px2em(26px);
        color: $grayBlack;
      }

      span{
        font-size: px2em(26px);
        color: $grayTwo;
      }
    }

    .introduce{
      @include px2rem(padding-top, 20px);
      @include px2rem(padding-bottom, 20px);


      .remark{
        color: $grayOne;

        span{
          font-size: px2em(28px);
        }
      }

      .desc{
        color: $grayTwo;
        text-indent: px2em(48px);
      }
    }
  }
}
