@charset "UTF-8";
/**
 * @author: zhanghuan
 * @create: 2017/9/19
 * @describe: 技术交流
 */
@import "../common";
.technical{
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  @import "../header";

  #wrapper{
    height: 100%;
    position: relative;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar{
      display: none;
    }
  }

  .list-ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include px2rem(padding-left, 24px);
    @include px2rem(padding-right, 24px);

    li{
      @include px2rem(width, 340px);
      @include px2rem(height, 370px);
      display: flex;
      align-items: center;
      max-width: 45.33333%;
    }

    dl{
      width: 100%;

      dt{
        width: 100%;
        @include px2rem(height, 260px);

        img{
          max-width: 100%;
          height: 100%;
        }
      }

      dd{
        overflow: hidden;

        .list-title{
          font-size: px2em(28px);
        }
        span{
          color: $grayTwo;
        }
      }
    }

  }
}
